# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
.turbo
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
packages/database/prisma/migrations/**/migration_lock.toml

# Testing
coverage
